@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.topnav {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(130,5,247,0.9920343137254902) 74%, rgba(0,212,255,1) 100%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    overflow: hidden;
}

.topnav h1 {
    
    color: white;
}

.topnav .topnav-right ul {
    list-style-type: none;
}

.topnav .topnav-right ul li {
    display: inline;
    margin-right: 70px;
}

.topnav .topnav-right ul li a {
    text-decoration: none;
    color: white;
    transition: color 1s;
}

.topnav .topnav-right ul li a:hover {
    color: aqua;
}

body{
    font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  /*background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);*/
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Set a negative z-index to move the video element to the background */
}

/*Image Slider*/
.mySlides {display: none;}
.mySlides img {vertical-align: middle; margin-top: 10%;}

/* Slideshow container */
.slideshow-container {
  width: 600px;
  position: relative;
  /*margin: auto;*/
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}



/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.desc{
    
    font-size: larger;
    font-weight: bolder;
    color: #09ff00;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
}

/*articles */

.article h1{
    margin-left: 5%;
    margin-top: 5%;
    color: #00f7ff;
}

.article .container .card .card__body h4 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  width: 100%;
  height: 105%;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}

.user__info a{
  font-size: smaller;
}